---
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact page">
  <Container>
    <h1>Contact</h1>
    <p>This is the contact page</p>
  </Container>
</Layout>
