<nav class="flex py-2 max-md:hidden">
  <div class="flex-none">
    <ui class="menu menu-horizontal px-1">
      <li><a href="/" class="text-neutral">Link</a></li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="z-10 -mt-2 min-w-36 rounded-t-none bg-base-100 p-2">
            <li><a href="/" class="text-neutral">Link 1</a></li>
            <li><a href="/" class="text-neutral">Link 2</a></li>
            <li><a href="/" class="text-neutral">Link 3</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/contact" class="text-neutral">Contact</a></li>
    </ui>
  </div>
</nav>
