---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SEO } from 'astro-seo';

interface Props {
  title: string;
}

const { title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const resolvedImage = new URL('/favicon.svg', Astro.url).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <SEO
      title={title}
      titleTemplate="%s - Astro × daisyUI starter"
      description="Astro is a static site generator made for static websites. This site built with Astro.build"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: 'Astro × daisyUI Starter template',
          type: 'website',
          image: resolvedImage,
        },
      }}
      twitter={{ card: 'summary_large_image' }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
